.Articles {
  h2 {
    text-align: center;
  }
  .article-links {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;
    }
    li:first-child {
      margin-left: 0;
    }
  }
}